mixin LPCatalogApp
	.ColLP__catalogApp
		.ColLP__catalogApp__left
			.ColLP__catalogApp__title
				| WhatsApp Watusi
			.ColLP__catalogApp__descr
				| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.

		.ColLP__catalogApp__right
			.ColLP__catalogApp__icon.background-shimmer
				img(
					src='/app-collections_landing/static/assets/app-collections_landing/WA-icon.jpeg'
					onload=`this.classList.add('isVisible')`
				)
			.ColLP__catalogApp__size
				.ColLP__catalogApp__size__icon
					include ../includes/_svg/icon_download.svg
				.ColLP__catalogApp__size__count
					| 183.41mb
			a(href='#!' style=`background:${buttonBG}`).ColLP__catalogApp__button
				| GET