extends ../layout/_tmpl

block styles
	//link(rel='stylesheet', href='/affiliate_page/static/css/vendor/swiper.min.css')
	link(rel='stylesheet', href='/affiliate_page/static/css/custom/affiliate_LP.css')

block scripts
	//script(src='/affiliate_page/static/js/vendor/swiper.min.js')
	script(src='/affiliate_page/static/js/custom/affiliate_LP.js')

block main
	.main_wrapper
		include sections/_top
		include sections/_how_work
		include sections/_ready_to_become
