extends ../layout/_tmpl

block styles
	//link(rel='stylesheet', href='/affiliate_page/static/css/vendor/swiper.min.css')
	link(rel='stylesheet', href='/affiliate_page/static/css/custom/affiliate_LP.css')

block scripts
	script(src='/affiliate_page/static/js/custom/affiliate_common.js')
	script(src='/affiliate_page/static/js/custom/affiliate_form.js')

block main
	main.main_wrapper
		include section_common/_header
		include sections_reg/_form
		include section_common/_footer