$mobile: 767px;

.mainLanding-header {
  min-height: 591px !important;
  &__left {
    position: relative;
    padding: 188px 0 0;
  }
  &__title {
    font-size: 43px;
    margin-bottom: 21px;
  }
  &__descr {
    font-size: 17px;
    line-height: 24px;
    color: white;
    margin-bottom: 29px;
  }

  &__buttonTop {
    display: block;
    width: 258px;
    height: 50px;
    background: #FFBA07;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
    transition: .2s ease all;
    @media(hover:hover) {
      &:hover {
        color: #FFBA07;
        background: white;
        text-decoration: none !important;
      }
    }
  }

  &__buttonBottom {
    display: block;
    width: 258px;
    height: 50px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .2s ease all;
    @media(hover:hover) {
      &:hover {
        color: #902352;
        background: white;
        text-decoration: none !important;
      }
    }
  }

  @media screen and (max-width: 928px){
    &__left {
      padding: 100px 0 0;
    }
  }

  @media screen and (max-width: $mobile) {
    height: 49.5rem !important;

    &__left {
      padding: 29px 0 0;
    }
    &__title {
      text-align: center;
      max-width: inherit;
      font-size: 8.125vw;
      padding-bottom: 3.56%;
      margin-bottom: 0;
    }
    &__descr {
      margin: 0 auto 25px;
      text-align: center;
      font-size: 4.43vw;
      line-height: 18px;
    }
    &__buttonTop {
      margin-left: auto;
      margin-right: auto;
    }
    &__buttonBottom {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.landing-header {
  &__left {
    position: relative;
    padding: 164px 0 0;
    //max-width: 960px;
    //margin: auto;
  }
  &__logo {
    margin-bottom: 53px;
  }
  &__title {
    font-size: 43px;
    //max-width: 440px;
    //max-width: 43.2%;
    max-width: 40vw;
    margin-bottom: 7px;
  }

  &__descr {
    font-size: 17px;
    line-height: 24px;
    //width: 380px;
    //max-width: 44%;
    color: white;
    margin-bottom: 45px;
  }

  &__button {
    max-width: 960px;
    margin: auto;
  }

  &__background {
    position: absolute;
    top: 0;
    //bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__bottom {
      position: absolute;
      bottom: -8px;
      width: 100%;
      min-width: 1440px;
      left: 50%;
      transform: translateX(-50%);
      & > svg {
        width: 100%;
      }
    }
  }
  &__snow {
    &__layerOne {
      //content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      //z-index: 1;
      background-size: 40rem 40rem;
      animation: snow 28s linear infinite;
      transition: opacity 10s;
    }
    &__layerTwo {
      display: block;
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      //z-index: 10;
      background-size: 40rem 40rem;
      animation: snow 18s linear infinite;
      //opacity: 0;
      transition: opacity 5s;
    }
  }
  &__roulette {
    width: 34.166vw;
    height: 34.166vw;
    max-width: 492px;
    max-height: 492px;
    position: absolute;
    left: 49.1%;
    //top: 69px;
    bottom: 81px;

    &_animated {
      .landing-header__cracker {
        animation: move 2s linear infinite;
      }
      .landing-header__left_snowflake {
        animation: move 3s linear infinite;
        animation-delay: 1s;
      }
      .landing-header__tile {
        animation: move 2s linear infinite;
        animation-delay: .5s;
      }
      .landing-header__right_snowflake {
        animation: move 3s linear infinite;
        animation-delay: 1s;
      }
      .landing-header__tree {
        animation: move 4s linear infinite;
        animation-delay: .7s;
      }
    }

  }
  &__cracker__backup {
    position: absolute;
    top: -70px;
    left: -144%;
  }
  &__drum {
    position: absolute;
    width: 100%;
    height: 100%;
    //padding-bottom: 100%;
    & > svg {
      transition:  all 12s cubic-bezier(0,.99,.44,.99);
      width: 100%;
      height: 100%;
    }
  }
  &__drum-pointer {
    position: absolute;
    width: 44.918%;
    height: 40.65%;
    //padding-bottom: 44.918%;
    left: calc(50% + 10.5px);
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
    transition: .1s ease all;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;

    &:active {
      transform: translate(-50%, -50%) scale(.9);
    }

    &__spin {
      animation: hh 0.1s;
    }

    & > svg {
      width: 100%;
      height: 100%;
      transform-origin: 45.24% 50% 0;
      //animation: rotate 3s infinite ease-in-out;
    }
  }

  &__cracker {
    position: absolute;
    width: 49.593%;
    height: 72.764%;
    left: -7%;
    bottom: -16%;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  &__left_snowflake {
    position: absolute;
    width: 42.682%;
    height: 39.837%;
    top: -9%;
    left: -14%;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  &__tree {
    position: absolute;
    width: 93.715%;
    height: 139.707%;
    right: -40%;
    bottom: -17%;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  &__tile {
    position: absolute;
    width: 26.422%;
    height: 48.78%;
    left: 69%;
    bottom: -17%;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  &__right_snowflake {
    position: absolute;
    width: 21.138%;
    height: 27.642%;
    right: -8%;
    bottom: 38%;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: $mobile) {
    &__left {
      padding: 53px 0 0;
    }
    &__logo {
      text-align: center;
      margin-bottom: 16px;
    }
    &__title {
      text-align: center;
      max-width: inherit;
      //font-size: 26px;
      font-size: 8.125vw;
      padding-bottom: 1.56%;
    }
    &__descr {
      margin: auto;
      //max-width: 62.5vw;
      text-align: center;
      //font-size: 11px;
      font-size: 3.43vw;
      line-height: 18px;
    }
    &__button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 15px;
    }
    &__roulette {
      width: 100vw;
      height: 100vw;
      max-width: 434px;
      max-height: 434px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 70px;
    }
  }
}

.xmasSteps {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 15px;
    max-width: 907px;
  }
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2B166A;
    width: 265px;
    margin: 0 6px 0;
    &__icon {
      margin-bottom: 23px;
    }
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: 900;
      margin-bottom: 14px;
    }
    &__descr {
      text-align: center;
      font-size: 16px;
      font-weight: 900;
      & > span {
        color: #FFBA07;
      }
      & > a {
        color: #4821BC;
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &__inner {
      flex-direction: column;
      margin: 40px auto 9px;
    }
    &__step {
      margin: 0 auto 75px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.xmasFooter {
  &__top {
    position: relative;
    overflow: hidden;
    padding: 226px 0 30px;
    background: linear-gradient(98.76deg, #410060 -1.6%, #400141 68.72%, #0C0344 97.73%);
    //mix-blend-mode: normal;
    background-size: cover;
    background-position: center;
    min-height: 462px;

    &:before {
      content: "";
      position: absolute;
      width: 150%;
      height: 224px;
      background: white;
      top: -193px;
      left: -25%;
      border-radius: 50%;
    }

    &__background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__tree {
      position: absolute;
      bottom: -22px;
      width: 293px;
      height: 480px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__title {
      position: relative;
      text-align: center;
      font-size: 32px;
      margin-bottom: 146px;
    }
    //&__button {
    //  position: relative;
    //  text-align: center;
    //  margin-bottom: 65px;
    //}
    &__smalltext {
      position: relative;
      text-align: center;
      font-size: 12px;
      color: white;
    }
  }
  &__bottom {
    background: linear-gradient(98.33deg, #410060 0%, #FF4C4C 70.79%, #0C0344 100%);
    &__inner {
      display: flex;
      align-items: center;
      min-height: 56px;
      max-width: 960px;
      margin: auto;
    }
    &__logo {
      display: flex;
      align-items: center;
      &__icon {
        width: 12.12px;
        margin-right: 9px;
      }
      &__title {
        width: 113.08px;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    &__top {
      padding: 91px 0 36px;
      &__tree {
        bottom: 0;
      }
      &__title {
        font-size: 27px;
        margin-bottom: 361px;
      }
      //&__button {
      //  margin-bottom: 34px;
      //}
      &__smalltext {
        margin: auto;
        max-width: 68.43%;
      }
    }
    &__bottom {
      &__inner {
        justify-content: center;
      }
    }
  }
}

.js-spin-wheel {
  opacity: 0;
  transition: .2s ease all;
}

.xmasTitle {
  font-weight: 900;
  color: #FFFFFF;
  letter-spacing: -1px;
  //mix-blend-mode: normal;
  //-webkit-text-stroke: 2px #EE3678;
  //paint-order: stroke fill;
  text-shadow:
    -2px -2px 0 #EE3678,
    2px -2px 0 #EE3678,
    -2px  2px 0 #EE3678,
    2px  2px 0 #EE3678;
  @media screen and (max-width: $mobile) {
    line-height: 38px;
    //text-shadow:
    //  -1px -1px 0 #EE3678,
    //  1px -1px 0 #EE3678,
    //  -1px  1px 0 #EE3678,
    //  1px  1px 0 #EE3678;
  }
}

.xmasButton {
  position: relative;
  background: #FFBA08;
  background: linear-gradient(180deg, #FFBA07 0%, #FFDB7F 100%);
  color: #7F07C9;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.05em;
  height: 50px;
  width: 272px;
  border: none;
  box-shadow: 0 6px 10px #6A004B;
  border-radius: 24px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  &:active {
    transform: scale(.9);
  }

  & > span {
    position: relative;
    //transition: .2s ease all;
  }
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #FFDB7F 0%, #FFBA07 100%);
    opacity: 0;
    border-radius: 24px;
    transition: .2s ease all;
  }
  @media (hover:hover) {
    &:hover {
      cursor: pointer;
      &:before {
        opacity: 1;
      }
    }
  }
}

.xmasContainer {
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.xmasModal {
  &__wrapper {
    position: absolute;
    background: rgb(64 2 67 / 90%);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease all;

    &_visible {
      opacity: 1;
      visibility: visible;
      & > .xmasModal__inner {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
  &__inner {
    //width: 597px;
    height: 339px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease all;
  }
  &__background {
    position: absolute;
    left: calc(50% - 6px);
    top: calc(50% - 58px);
    transform: translate(-50%, -50%);
  }
  &__title {
    position: relative;
    font-weight: 900;
    font-size: 46px;
    line-height: 63px;
    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(91.78deg, #FFFCDE 9.67%, #FFBA07 100.01%), linear-gradient(91.78deg, #EFDDFF 9.67%, #BA85E9 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 16px;
  }
  &__promocode {
    position: relative;
    width: 263px;
    height: 62px;
    border: 2px dashed #FFFFFF;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 25px;
    cursor: pointer;

    & > span {
      font-weight: 500;
      font-size: 24px;
      line-height: 62px;
      text-transform: capitalize;
      color: white;
      transition: .2s ease all;
      &:hover {
        color: #FFBA07;
      }
    }

    &__icon {
      position: absolute;
      right: 15px;
      top: calc(50% + 2px);
      transform: translateY(-50%);
      cursor: pointer;
      &:hover {
        & > svg path{
          stroke: #FFBA07;
        }
      }
    }

    &__copied {
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border-radius: 12px;
      background: white;
      text-align: center;
      color: #3E0242;
      font-size: 24px;
      font-weight: 500;
      line-height: 62px;
      transition: 2s ease-in opacity;
      opacity: 0;

      &_visible {
        transition: .1s ease-in opacity;
        opacity: 1;
        z-index: 10;
      }
    }

  }
  &__button {

  }
  @media screen and (max-width: $mobile) {

  }
}


@keyframes move {
  0%, 50%, 100% { transform: translateY(0)}
  25% {transform: translateY(-4px)}
  75% {transform: translateY(4px)}
}

//@keyframes rotate {
//  0% {
//    transform: rotate(0);
//  }
//  100% {
//    transform: rotate(360deg);
//  }
//}

@keyframes hh {
  0%, 100%{
    transform: rotate(0deg);
  }

  50%{
    transform: rotate(7deg);
  }
}

@keyframes snow {
  0%{ background-position-x:0; background-position-y:0 }
  50%{ background-position-y:40rem }
  100%{ background-position-x:40rem;background-position-y:80rem }
}