extends ../layout/_tmpl

block styles
	link(rel="preconnect" href="https://fonts.googleapis.com")
	link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
	link(href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet")


	link(rel='stylesheet', href='/catfish_day/static/css/custom/soul_landing/index.css')
	link(rel='stylesheet', href='/catfish_day/static/css/custom/soul_landing/instapage.css')
	link(rel='stylesheet', href='/catfish_day/static/css/custom/soul_landing/catfish_header.css')
	link(rel='stylesheet', href='/catfish_day/static/css/BS_common.css')

block scripts
	script(src='/catfish_day/static/js/custom/catfish_game.js')

block main
	section.catfishTop(style='background-image: url("/catfish_day/static/assets/soul_landing/catfish_BG.jpeg")')
		.catfishTop__wrapper
			.catfishTop__body
				include ./includes/_svg/catfish_body.svg
				//-	onload=`this.parentElement.classList.add('ColLP__top__app-icon_isVisible')`

			.catfishTop__left
				a(href='/').catfishTop__logo
					include includes/_svg/buildstore-logo_full.svg
				.catfishTop__title Grow the Catfish
				.catfishTop__descr
					| To&nbsp;make the Catfish grow, you need to&nbsp;feed&nbsp;it. The&nbsp;bigger the Catfish, the bigger the BuildStore subscription discount you can get!
				.catfishTop__spacer
				.catfishTop__button.catfishTop__button_getPromo
					button.BS_button.BS_button_isDisabled
						span Get
							span.catfishTop__button__promocode
							| promo code
				.catfishTop__button.catfishTop__button_isHidden.catfishTop__button_restart
					button.BS_button__white
						span TRY AGAIN


			.catfishTop__right
				.catfishTop__weight
					span 1
					span lb
					.catfishTop__updateWeight
				.catfishTop__clicker
					include includes/_svg/feed.svg
					span FEED
				.catfishTop__reactions
					.catfishTop__reaction
						svg(viewBox="0 0 245 36" width=245 height=36)
							text(x=7 y=28 text-anchor="start") Awesome! 20%
							text(x=7 y=28 text-anchor="start" fill='#FACE39') Awesome! 20%
					.catfishTop__reaction
						svg(viewBox="0 0 98 36" width=98 height=36)
							text(x=7 y=28 text-anchor="start") Wow!!
							text(x=7 y=28 text-anchor="start" fill='#FF6A6A') Wow!!
					.catfishTop__reaction
						svg(viewBox="0 0 245 36" width=245 height=36)
							text(x=7 y=28 text-anchor="start")
							text(x=7 y=28 text-anchor="start" fill='white') Om nom nom
						//| Om nom nom

				.catfishTop__notify
					| Oops, you overfed the fish...

	section.landingModal
		.landingModal__inner
			.landingModal__close
				include ./includes/_svg/close_modal.svg
			.landingModal__title
				| Great catch!
			.landingModal__catfish
				include ./includes/_svg/catfish_body.svg
			.landingModal__totalCount
				span 1
				span lb
			.landingModal__discount

			.landingModal__promocode
				.landingModal__promocode__text
					| NAUGHTY10
				.landingModal__promocode__copy
					include includes/_svg/copy_icon.svg
				.landingModal__promocode__alertCopied
					| Copied!
			button.landingModal__link.BS_button
				span USE PROMOCODE

