$Nunito: 'Nunito Sans', sans-serif;
$Avenir: 'Avenir', 'Helvetica Neue', sans-serif;

$LP_basic_black: #1F1B35;
$LP_gray: rgba(31, 27, 53, 0.4);

//#644CC1

$yellow: #FFBA07;
$purpur: #440FB7;
$strokeLightBlue: #DEE7F4;
$light_blue: #F2F7FF;
$focused_blue: #5e79a4;
$basic_black: #1E1449;
$diss_gray: #EDEDED;
$error_red: #ED2853;
$links: #2A72D7;
$gray: #818181; // #B8B8B8;
$dark_gray: #4A4A4A;

$black: #252525;
$green: #7DCA40;
$preloader: #f6f6f6;
$white: #FFF;

$tablet: 888px; //642
$header_mobile: 604px;
$mobile: 414px;
//$mobile: 767px;

$transition: .3s ease-in-out all;