extends includes/_tmpl

block styles
    link(rel='stylesheet', href='')

block scripts
    script(src='')

block main
    .links(style="display: flex;flex-direction: column;")
        a(href='christmas_landing.html') Christmas_landing
        a(href='/app-collections_landing/') App Collections Landing

