extends includes/_tmpl

block styles
    link(rel='stylesheet', href='css/styles.min.css')

block main
    .header
        | Header
    .wheel
        | hello World123
        | hello World123

block scripts
    script(src='/js/header.js')