extends ./includes/tmpl.pug

block styles
    link(rel='stylesheet', href='css/styles.min.css')

block main
    .header
        | Page 2
    .wheel
        | hello World123
        | hello World123

block scripts
    script(src='/js/custom.js')