section.earnMore.container
	.earnMore__title Want to earn more?
	.earnMore__subtitle Affiliate Program levels
	.earnMore__cards
		.earnMore__card.js-observer
			.earnMore__card__left
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/earnMore_icon1.png'
					alt
					onload=`this.classList.add('earnMore__card__icon_isVisible')`).earnMore__card__icon.js-observer

			.earnMore__card__right
				.earnMore__card__title Bronze
				.earnMore__card__descr
					p This affiliate level is&nbsp;assigned automatically upon!{' '}
						a(href='/registration' data-event-name='user_tap_registration').js-gaEvent registration
					p #[b Sales commission at&nbsp;this level is&nbsp;10%]
					p To&nbsp;move to&nbsp;the next level of&nbsp;the affiliate program, you need to&nbsp;bring in&nbsp;100 sales

		.earnMore__card.js-observer
			.earnMore__card__left
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/earnMore_icon2.png'
					alt
					onload=`this.classList.add('earnMore__card__icon_isVisible')`).earnMore__card__icon.js-observer

			.earnMore__card__right
				.earnMore__card__title Silver
				.earnMore__card__descr
					p This level is&nbsp;awarded once 100 people buy a&nbsp;#[span Builds.io] subscription through your unique referral link
					p #[b Sales commission at&nbsp;this level is&nbsp;15%]


		.earnMore__card.js-observer
			.earnMore__card__left
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/earnMore_icon3.png'
					alt
					onload=`this.classList.add('earnMore__card__icon_isVisible')`).earnMore__card__icon.js-observer

			.earnMore__card__right
				.earnMore__card__title Gold
				.earnMore__card__descr
					p You reach the Gold level when you bring in&nbsp;500 sales
					p #[b Sales commission at&nbsp;this level is&nbsp;20%]
					p At&nbsp;this level, we&nbsp;will send you an&nbsp;offer to&nbsp;become our exclusive partner and get your own personalized partner page


		.earnMore__card.js-observer
			.earnMore__card__left
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/earnMore_icon4.png'
					alt
					onload=`this.classList.add('earnMore__card__icon_isVisible')`).earnMore__card__icon.js-observer

			.earnMore__card__right
				.earnMore__card__title Platinum
				.earnMore__card__descr
					p To&nbsp;get the Platinum level you need to&nbsp;attract 2500 users who will make a&nbsp;purchase on&nbsp;our website
					p #[b Sales commission at&nbsp;this level is&nbsp;25%]

