section.aff_HowWork.container
	.aff_HowWork__title How our Affiliate&nbsp;Program works?

	.aff_HowWork__cards
		.aff_HowWork__card.js-observer
			img(data-src='/affiliate_page/static/assets/affiliate_page_2023/how_card_1.png' alt='' onload=`this.classList.add('aff_HowWork__card__img_isVisible')`).aff_HowWork__card__img.js-observer
			.aff_HowWork__card__descr Register and get your&nbsp;personalized!{' '}
				span affiliate&nbsp;link

		.aff_HowWork__card.js-observer
			img(data-src='/affiliate_page/static/assets/affiliate_page_2023/how_card_2.png' alt='' onload=`this.classList.add('aff_HowWork__card__img_isVisible')`).aff_HowWork__card__img.js-observer
			.aff_HowWork__card__descr The link you share<br>
				span directs website visitors!{' '}
				| to&nbsp;Builds.io

		.aff_HowWork__card.js-observer
			img(data-src='/affiliate_page/static/assets/affiliate_page_2023/how_card_3.png' alt='' onload=`this.classList.add('aff_HowWork__card__img_isVisible')`).aff_HowWork__card__img.js-observer
			.aff_HowWork__card__descr The visitors<br />
				span make a purchase
				|  on&nbsp;Builds.io

		.aff_HowWork__card.js-observer
			img(data-src='/affiliate_page/static/assets/affiliate_page_2023/how_card_4.png' alt='' onload=`this.classList.add('aff_HowWork__card__img_isVisible')`).aff_HowWork__card__img.js-observer
			.aff_HowWork__card__descr You receive<br />
				span cash rewards!
