section.toBecome.container
	.toBecome__left.js-observer
		.toBecome__title Ready to&nbsp;become an&nbsp;affiliate and&nbsp;earn with&nbsp;Builds.io?
		.toBecome__descr
			| To&nbsp;succeed, you need a&nbsp;strong online presence like a&nbsp;blog, social media, or&nbsp;website to&nbsp;promote services. Engage your audience with great content showing the value of&nbsp;the products. Stay genuine and consistent, and use marketing tools like banners and your special referral link. By&nbsp;driving traffic and sales, you&rsquo;ll not only help the brand grow but also earn commission for your efforts. Get started now and reap the rewards!
		mixin ButtonJoinUs
			a(href='/affiliate/registration' data-event-name='user_tap_join_now_middle').js-gaEvent
				button.BS_button
					span JOIN NOW

		.toBecome__button
			+ButtonJoinUs

	.toBecome__right
		.toBecome__card.js-observer
			.toBecome__card__icon
				include ../includes/_svg/toBecomeCard_Icon1.svg
			.toBecome__card__title Social Media
			.toBecome__card__descr
				| Share your special link on&nbsp;social media, interact with your followers, and earn money as&nbsp;an&nbsp;affiliate.
		.toBecome__card.js-observer
			.toBecome__card__icon
				include ../includes/_svg/toBecomeCard_Icon2.svg
			.toBecome__card__title Blog
			.toBecome__card__descr
				| Put affiliate links in&nbsp;your blog posts, share valuable insights, and make cash when people buy from your content
		.toBecome__card.js-observer
			.toBecome__card__icon
				include ../includes/_svg/toBecomeCard_Icon3.svg
			.toBecome__card__title Social Website
			.toBecome__card__descr
				| Use links on&nbsp;your website, promote our product, and earn commissions from successful purchases
		.toBecome__card.js-observer
			.toBecome__card__icon
				include ../includes/_svg/toBecomeCard_Icon4.svg
			.toBecome__card__title Other
			.toBecome__card__descr
				| Make the most of&nbsp;your affiliate links by&nbsp;sharing them with your audience. When people buy Builds.io subscriptions, you get commission
	.toBecome__button__bottom
		+ButtonJoinUs