section.toBecome.container
	.toBecome__left
		.toBecome__title Ready to&nbsp;become an&nbsp;affiliate and&nbsp;earn with Builds.io?
		.toBecome__descr
			| To&nbsp;succeed, you need a&nbsp;strong online presence like a&nbsp;blog, social media, or&nbsp;website to&nbsp;promote services. Engage your audience with great content showing the value of&nbsp;the products. Stay genuine and consistent, and use marketing tools like banners and your special referral link. By&nbsp;driving traffic and sales, you&rsquo;ll not only help the brand grow but also earn commission for your efforts. Get started now and reap the rewards!
		button.toBecome__button.BS_button
			span JOIN NOW

	.toBecome__right
		.toBecome__card
			.toBecome__card__icon
			.toBecome__title Social Media
			.toBecome__card__descr
				| Share your special link on social media, interact with your followers, and earn money as an affiliate.
		.toBecome__card
			.toBecome__card__icon
			.toBecome__title Blog
			.toBecome__card__descr
				| Put affiliate links in your blog posts, share valuable insights, and make cash when people buy from your content
		.toBecome__card
			.toBecome__card__icon
			.toBecome__title Social Website
			.toBecome__card__descr
				| Use links on your website, promote our product, and earn commissions from successful purchases
		.toBecome__card
			.toBecome__card__icon
			.toBecome__title Other
			.toBecome__card__descr
				| Make the most of your affiliate links by sharing them with your audience. When people buy Builds.io subscriptions, you get commission