section.startEarn
	img(src='/affiliate_page/static/assets/affiliate_page_2023/startEarn_BG.jpeg'
		onload=`this.classList.add('affLP__imageBG_isVisible')` alt="background").affLP__imageBG
	.container
		.startEarn__title Become our partner and start earning today!
		a(href='/affiliate/registration' data-event-name='user_tap_join_now_upper').js-gaEvent
			button.BS_button
				span Join Us