.affTop {
  position: relative;
  color: $white;
  overflow: hidden;
  background: #231359;

  &__wrapper {
    min-height: 520px;
    position: relative;
  }

  &__left {
    position: relative;
    padding: 175px 0 0;
    z-index: 2;
  }
  &__logo {
    display: block;
    margin-bottom: 35px;
    & > svg {
      width: 195px;
      height: auto;
    }
  }
  &__title {
    @extend .top_title;
    color: $yellow;
    margin-bottom: 8px;
  }

  &__descr {
    @extend .h2;
  }

  &__spacer {
    height: 32px;
  }

  &__button {
    max-width: 960px;
    margin: auto;
  }

  &__pic {
    position: absolute;
    width: 648px;
    bottom: 12px;
    right: -43px;
    opacity: 0;
    transition: $transition;
    &_isVisible {
      opacity: 1;
    }
  }

  @media screen and (max-width: 661px){
    &__wrapper {
      min-height: auto;
    }

    &__left {
      max-width: 100%;
      padding: 111px 15px 0;
    }

    &__logo {
      margin-bottom: 34px;
      & > svg {
        width: 173px;
      }
    }

    &__spacer {
      height: 292px;
    }

    &__button {
      display: block;
      text-align: center;
      min-height: 90px// 119px;
      //padding-bottom: 69px;
    }
    &__pic {
      position: absolute;
      width: calc(460/320*100vw);
      max-width: 500px;
      bottom: 114px;
      right: 50%;
      transform: translateX(42%);
    }
  }
}
