section.whyBS
	.container
		h2.whyBS__title Why Builds.io Affiliate Program is&nbsp;right for you

		.whyBS__cards
			.whyBS__card
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/why_BS_pic1.png' alt=''
					onload=`this.classList.add('whyBS__card__img_isVisible')`).whyBS__card__img.js-observer
				.whyBS__card__descr
					span 4&nbsp;levels
					|  of&nbsp;affiliate program

			.whyBS__card
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/why_BS_pic2.png' alt=''
					onload=`this.classList.add('whyBS__card__img_isVisible')`).whyBS__card__img.js-observer
				.whyBS__card__descr
					| Exclusive!{' '}
					span promo codes
					|  and&nbsp;affiliate URLs

			.whyBS__card
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/why_BS_pic3.png' alt=''
					onload=`this.classList.add('whyBS__card__img_isVisible')`).whyBS__card__img.js-observer
				.whyBS__card__descr
					| Affiliate dashboard to&nbsp;
					span track sales
				.whyBS__card__badge Coming Soon


			.whyBS__card
				img(data-src='/affiliate_page/static/assets/affiliate_page_2023/why_BS_pic4.png' alt=''
					onload=`this.classList.add('whyBS__card__img_isVisible')`).whyBS__card__img.js-observer
				.whyBS__card__descr
					| Convenient!{' '}
					span automatic&nbsp;payouts
				.whyBS__card__badge Coming Soon

