$carterFont: 'Carter One', cursive;
$WA_comment_BG: radial-gradient(31.82% 85.41% at 35.9% 14.59%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #5097FC;

$LP_basic_black: #1F1B35;
$LP_gray: rgba(31, 27, 53, 0.4);

$yellow: #FFBA07;
$purpur: #440FB7;
$strokeLightBlue: #DEE7F4;
$light_blue: #F2F7FF;
$focused_blue: #5e79a4;
$basic_black: #1E1449;
$diss_gray: #EDEDED;
$error_red: #ED2853;
$links: #2A72D7;
$gray: #B8B8B8;

$black: #252525;
$green: #7DCA40;
$preloader: #f6f6f6;
$white: #FFF;

$tablet: 888px; //642
$header_mobile: 604px;
$mobile: 414px;
//$mobile: 767px;

$transition: .3s ease-in-out all;