@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
$carterFont: 'Carter One', cursive;
@import './_ui-elements';
@import './_variable';

.catfishTop {
  position: relative;
  color: $white;
  background: #187fbb url('/catfish_day/static/assets/soul_landing/catfish_BG.jpeg') center;
  background-size: auto 127%;
  overflow: hidden;
  animation: 12s BGMove alternate-reverse ease-in-out infinite;

  &__wrapper {
    margin: auto;
    width: calc(910px + 48px);
    padding: 0 24px;
    min-height: 550px;
    position: relative;
  }

  &__left {
    position: relative;
    padding: 96px 0 0;
    max-width: 47%;
  }

  &__logo {
    display: block;
    margin-bottom: 168px;
    & > svg {
      width: 150px;
      height: auto;
    }
  }
  &__title {
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0.4px;
    font-size: 40px;
    max-width: 40vw;
    margin-bottom: 3px;
    @media screen and (max-width: $mobile) {
      font-weight: 500;
      font-size: 4.375vw;
      line-height: 5.94vw;
    }
  }

  &__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    max-width: 389px;
    @media screen and (max-width: $mobile) {
      font-size: 3.75vw;
      line-height: 5.115vw;
    }
  }

  &__spacer {
    height: 27px;
  }

  &__button {
    max-width: 960px;
    margin: auto;
  }

  &__right {
    position: absolute;
    right: 25px;
    bottom: 66px;
    text-align: right;
  }

  &__weight {
    position: relative;
    font-family: $carterFont;
    font-weight: 400;
    font-size: 70px;
    line-height: 130%;
    text-align: right;
    & > span:nth-child(2) {
      font-size: 30px;
    }
  }

  &__updateWeight {
    position: absolute;
    font-family: $carterFont;
    font-weight: 400;
    font-size: 58.4266px;
    line-height: 58px;
    //mix-blend-mode: normal;
    animation: 3s updateCountMove linear infinite;
  }

  &__clicker {
    position: relative;
    display: inline-block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    border: 2px dashed #FFFFFF;
    user-select: none;
    cursor: pointer;
    transition: .1s ease all;

    &:active {
      transform: scale(0.95);
    }

    & > svg {
      position: absolute;
      left: 50%;
      top: 21px;
      transform: translateX(-50%);
    }
    & > span {
      left: 50%;
      position: absolute;
      bottom: 14px;
      transform: translateX(-50%);
      font-weight: 800;
      font-size: 14px;
    }
  }

  &__reactions {
    position: absolute;
    bottom: 9px;
    right: 184px;
    white-space: nowrap;
    font-family: $carterFont;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    //mix-blend-mode: normal;
    //-webkit-text-stroke: 6.5px white;
    svg {
      //width: 245px;
      //height: 36px;
      text:first-child {
        stroke: white;
        stroke-width: 8.5px;
        stroke-linejoin: round;
      }
    }
  }

  &__reaction {
    &__one {
      position: absolute;
      //right: 0;
      //bottom: 0;
      animation: 2s reactionMove linear forwards infinite;
      //svg text {fill: white;}
    }
    &__two {
      position: absolute;
      //bottom: 53px;
      //right: 4px;
      //transform: rotate(-4.22deg);
      svg text {fill: #FACE39;}
      animation: 2s reactionMove linear forwards infinite;
      animation-delay: 0.5s;
    }
    &__three {
      position: absolute;
      //bottom: 124px;
      //right: 48px;
      //transform: rotate(21.24deg);
      svg text {fill: #FF6A6A;}
      animation: 2s reactionMove linear forwards infinite;
      animation-delay: 1s;
    }
  }

  &__body {
    position: absolute;
    left: 55.5%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 124px; //584px;
    transition: $transition;
    animation: 7s fishRotate alternate-reverse ease-in-out infinite;

    & > svg {
      width: 100%;
      height: 100%;
      animation: 5s fishSwimming alternate-reverse ease-in-out infinite;
      & > g {
        animation: 5s fishShadow alternate-reverse ease-in-out infinite;
        transform-origin: center;
      }
    }
  }

  //&__circles, &__app-icon {
  //  position: absolute;
  //  & > svg {
  //    width: 100%;
  //    height: 100%;
  //  }
  //}

  //&__pictures {
  //  position: absolute;
  //  width: 1024px;
  //  left: 72%;
  //  bottom: 254px;
  //
  //  &__wrapper {
  //    position: absolute;
  //    width: 100%;
  //    padding-bottom: 100%;
  //    transform: translate(-50%, -50%);
  //  }
  //}

  //&__app-icon {
  //  position: absolute;
  //  width: 53.711%;
  //  height: auto;
  //  top: 21.2%;
  //  left: 49%;
  //  transform: translateX(-50%);
  //  & > img {
  //    width: 100%;
  //    height: auto;
  //    opacity: 0;
  //  }
  //  &_isVisible img {
  //    opacity: 1;
  //    animation: fromBottom 2s cubic-bezier(.14,.58,.12,1.13) forwards;
  //  }
  //}

  @media screen and (max-width: 661px){
    &__wrapper {
      min-height: auto;
    }

    &__left {
      max-width: 100%;
      padding: 30px 15px 0;
    }

    &__logo {
      margin-bottom: 22px;
      & > svg {
        width: 173px;
      }
    }

    &__title {
      max-width: 100%;
    }

    &__spacer {
      height: 292px;
    }

    &__button {
      display: block;
      text-align: center;
      min-height: 119px;
      //padding-bottom: 69px;
    }

    //&__pictures {
    //  width: 732px; //229vw;
    //  max-width: 1138px;
    //  bottom: 212px;
    //  left: 50%;
    //}
  }
}

@keyframes BGMove {
  0%    {background-size: auto 127%;}
  100%  {background-size: auto 124%;}
}

@keyframes fishRotate {
  0%    {transform: translate(-50%, -50%) rotate(3deg);}
  100%  {transform: translate(-50%, -50%) rotate(-3deg);}
}

@keyframes fishSwimming {
  0%    {transform: scale(1);}
  100%  {transform: scale(1.05);}
}

@keyframes fishShadow {
  0%    {transform: scale(1);}
  100%  {transform: scale(0.90);}
}

@keyframes reactionMove {
  0% {
    bottom: 0px;
    right: 0px;
    transform: rotate(-4.22deg);
    opacity: 0;
  }
  1% {
    bottom: 0px;
    right: 0px;
    transform: rotate(-4.22deg);
    opacity: 1;
  }
  //33% {
  //  bottom: 53px;
  //  right: 24px;
  //  transform: rotate(10deg);
  //  opacity: 0.7;
  //}
  //66% {
  //  bottom: 124px;
  //  right: 48px;
  //  transform: rotate(21.24deg);
  //  opacity: 0.4;
  //}
  100% {
    bottom: 155px;
    right: 66px;
    transform: rotate(25deg);
    opacity: 0;
  }
}

@keyframes updateCountMove {
  0% {
    bottom: 32px;
    right: 30px;
    transform: rotate(0);
    opacity: 0;
  }
  8% {
    bottom: 102px;
    right: -12px;
    transform: rotate(15deg);
    opacity: 1;
  }
  100% {
    bottom: 95px;
    right: -9px;
    transform: rotate(15deg);
    opacity: 0;
  }
}
//
//@keyframes fromCenter {
//  0% {
//    transform: scale(0);
//  }
//  35% {
//    transform: scale(1);
//  }
//}
//
//@keyframes fromBottom {
//  0%, 25% {
//    transform: translateY(100vw);
//    opacity: 0;
//  }
//  50% {
//    transform: translateY(0);
//    opacity: 1;
//  }
//}
//
//@keyframes fromBottomTwo {
//  0%, 40% {
//    transform: translateY(100vw);
//    opacity: 0;
//  }
//  65% {
//    transform: translateY(0);
//    opacity: 1;
//  }
//}