extends layout/_tmpl

block styles
    link(rel='stylesheet', href='')

block scripts
    script(src='')

block main
    .links(style="display: flex;flex-direction: column;")
        a(href='/affiliate_page/') Affiliate
        a(href='/affiliate_page/registration.html') Affiliate Registration
        a(href='/affiliate_page/thank_you.html') Affiliate Thank You
        a(href='/app-collections_landing/') App Collections Landing
        a(href='/header_regular/') Regular Header
        a(href='/header_14feb/') 14 Febrary Header
        a(href='/search/') Search
        a(href='/catfish_day/') Catfish Day
        a(href='/retro_games/') Retro Games


