extends layout/_tmpl

block styles
    link(rel='stylesheet', href='')

block scripts
    script(src='')

block main
    .links(style="display: flex;flex-direction: column;")
        a(href='/app-collections_landing/') App Collections Landing
        a(href='/header_regular/') Regular Header

